#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
// #define LOWER 1
// #define UPPER 2

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |   ESC   |    1    |    2    |    3    |    4    |    5    |                        |    6    |    7    |    8    |    9    |    0    |   DEL   |
// |   TAB   |    q    |    w    |    e    |    r    |    t    |                        |    y    |    u    |    i    |    o    |    p    |  BSPC   |
// |  SHIFT  |    a    |    s    |    d    |    f    |    g    |                        |    h    |    j    |    k    |    l    |    ;    |  ENTER  |
// |  CRTL   |    z    |    x    |    c    |    v    |    b    |                        |    n    |    m    |    ,    |    .    |    /    |  RSHIFT |
//                                         |   F2    |  SPACE  |   F1   |     |  ENTER  |  SPACE  |   BSPC  |
            bindings = <
                &kp ESC    &kp N1   &kp N2   &kp N3    &kp N4    &kp N5                                                &kp N6    &kp N7    &kp N8    &kp N9    &kp N0   &kp DEL
                &kp TAB    &kp Q    &kp W    &kp E     &kp R     &kp T                                                 &kp Y     &kp U     &kp I     &kp O     &kp P    &kp BSPC
                &kp LSHIFT &kp A    &kp S    &kp D     &kp F     &kp G                                                 &kp H     &kp J     &kp K     &kp L     &kp SEMI &kp ENTER
                &kp LCTRL  &kp Z    &kp X    &kp C     &kp V     &kp B                                                 &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH &kp RSHIFT
                                                       &mo UPPER &kp SPACE &mo LOWER                         &kp ENTER &kp SPACE &kp BSPC
            >;
        };

        // lower_layer {
        //     // --------------------------------------------------------------------------------------------------------------------------------------------------------------------
        //     // |   F1    |    F2   |    F3   |    F4   |    F5   |    F6   |                        |    F7   |    F8   |    F9   |   F10   |   F11   |   F12   |
        //     // |   TAB   |    `    |    UP   |         |         |         |                        |         |         |         |    -    |    =    |  BSPC   |
        //     // |  SHIFT  |   LEFT  |  DOWN   |  RIGHT  |         |         |                        |         |         |         |    [    |    ]    |  ENTER  |
        //     // |  CRTL   |    \    |         |         |         |         |                        |         |         |         |    '    |    #    |  RSHIFT |
        //     //                                         |   F2    |  SPACE  |   F1   |     |   WND   |  SPACE  |   ALT   |

        //     bindings = <
        //         &kp F1     &kp F2   &kp F3   &kp F4    &kp F5    &kp F6                                &kp F7    &kp F8    &kp F9    &kp F10    &kp F11   &kp F12
        //         &kp TAB    &kp SQT  &kp UP   &none     &none     &none                                 &none     &none     &none     &kp MINUS  &kp EQUAL &kp BSPC
        //         &kp LSHIFT &kp LEFT &kp DOWN &kp RIGHT &none     &none                                 &none     &none     &none     &kp LBKT   &kp RBKT  &kp ENTER
        //         &kp LCTRL  &kp BSLH &none    &none     &none     &none                                 &none     &none     &none     &kp AT     &kp FSLH  &kp RSHIFT
        //                                                &mo UPPER &kp SPACE &mo LOWER      &kp LCMD &kp SPACE &kp LALT
        //     >;
        // };
    };
};